@model Empresas.Models.USUARIO

@{
    ViewBag.Title = "Delete";
}

<h2 style="color:#000000" ;>Delete</h2>

<h3 style="color:#000000" ;>Esta seguro de eliminar este usuario?</h3>
<div>
    <h4 style="color:#000000" ;>USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONTRASEÑA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRASEÑA)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>

