

@{
    ViewBag.Title = "AVANA";




}

<link rel="stylesheet" href="..\Empresas\StyleSheet1.css">


<div class="container-portada">
    <div class="capa-gradient"> </div>
    <div class="container-details">
        <div class="details">

            <img src="..\imagenes\ropa.gif" alt="" width="900" height="400">

            <h1 style="color:#000000" ;>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                "CAMBIA DE ROPA"
            </h1>

            <p style="color:#ffffff" ;>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                "No diseñamos ropa, diseñamos sueños "AVANA" La ropa que te da mejor moda al mejor precio."
            </p>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            <img src="..\imagenes\outfin.png" alt="" width="700" height="150">

        </div>
    </div>

</div>

<br>
<br>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("REGISTRO DE USUARIOS", "Index", "USUARIOs")</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">PAGINA PRINCIPAL &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("FICHA DE MONITOREO ", "Index", "TRABAJADORs")</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">PAGINA PRINCIPAL  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("USUARIOS REGISTRADOS ", "Index", "EMPRESAs")</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">PAGINA PRINCIPAL  &raquo;</a></p>
    </div>
</div>
